<header>
	<img class="logo" src="/assets/images/logo-with-text.svg" width="120" alt="">
	<img class="menu" src="/assets/images/menu-mobile.svg" width="32px" alt="" srcset="">
	<ul>
		<li>Entrar</li>
		<li>Forum</li>
		<li>Sobre</li>
		<li>Mojang</li>
		<li>Perguntas</li>
	</ul>
</header>
<main>
	<section class="loginForm">
		<img src="/assets/images/logo.svg" alt="Logmine logo" width="34" height="42">
		<form>
			<div class="emailGroup">
				<label class="inputLabel" for="inputEmail">Email</label>
				<input type="email" name="inputEmail" id="inputEmail" placeholder="iuricode@mail.com">
			</div>
			<div class="passwordGroup">
				<label class="inputLabel" for="inputSenha">Senha</label>
				<input type="password" name="inputSenha" id="inputSenha" placeholder="123456">
				<div>
					<input type="checkbox" name="inputCheckbox" id="inputCheckbox">
					<label for="inputCheckbox">Lembrar minha senha</label>
				</div>
			</div>
		</form>
		<button type="button">Entrar na conta</button>
		<a href="#">Esqueceu sua senha?</a>
	</section>
</main>
<footer>
	<div>
		<img src="/assets/images/power.svg" alt="" srcset="" width="32">
		<span>Jogue também offline</span>
	</div>
	<div>
		<img src="/assets/images/user.svg" alt="" srcset="" width="32">
		<span>67 jogadores</span>
	</div>
	<div>
		<img src="/assets/images/game-controller.svg" alt="" srcset="" width="32">
		<span>Compatível com uso remoto</span>
	</div>
	<div>
		<img src="/assets/images/vibrate.svg" alt="" srcset="" width="32">
		<span>Vibração no controle</span>
	</div>
	<div>
		<img src="/assets/images/kid.svg" alt="" srcset="" width="32">
		<span>Permitido para menores</span>
	</div>
</footer>